<div class="form-group">
    <label for="input1">Del:</label>
    <input id="Text1" class="form-control" placeholder="DD/MM/AAAA"/>
</div>
<div class="form-group">
    <label for="input1">Al:</label>
    <input id="Text1" class="form-control" placeholder="DD/MM/AAAA"/>
</div>
<div class="form-group">
    <label>Sexo:</label>
    <label class="radio-inline">
        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">M
    </label>
    <label class="radio-inline">
        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">F
    </label>
</div>
<div class="form-group">
    <label for="select1">Ocupacion:</label>
    <select id="select1" class="form-control">
    </select>
</div>
<div class="form-group">
    <label for="select2">Escolaridad:</label>
    <select id="select2" class="form-control">
    </select>
</div>