<div class="form-group">
    <label>Transporte</label>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="autobus">Autobus
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Autobus Rentado
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Automovil Propio
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Automovil Rentado
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Avion
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Otro
        </label>
    </div>
</div>