<div class="form-group">
    <label>Hospedaje</label>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Hotel
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Motel
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Campamento/Tienda de Campaña
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">Casa de Huespedes
        </label>
    </div>
</div>